In [5]:
import pandas as pd
import numpy as np

In [38]:
# ejercicio 1

print("ingresar rango de años, rango = mayor - menor")
mayor = int(input("ingrese el año mayor: "))
menor = int(input("ingrese el año menor: "))

if mayor > menor:
  rango = mayor - menor
  
  lista_venta = []
  year = []
  for i in range(rango):
    menor +=i
    year.append(menor)

    venta = float(input("ingresar la ganancia de las ventas del año," + str(year[i])+":"))
    lista_venta.append(venta)

else:
  print("no ingreso los años correctamente")

s = pd.Series(lista_venta)
df = pd.DataFrame()
df["Años"] = year
df["Ventas sin desc"] = lista_venta
df["Ventas 10% desc"] = s*0.9
df

ingresar rango de años, rango = mayor - menor
ingrese el año mayor: 2000
ingrese el año menor: 1998
ingresar la ganancia de las ventas del año,1998:200
ingresar la ganancia de las ventas del año,1999:300

   Años  Ventas sin desc  Ventas 10% desc
0  1998            200.0            180.0
1  1999            300.0            270.0

In [18]:
# ejercicio 2

# definir la cantidad de alumnos
cantidad = int(input("ingresar la cantidad de alumnos: "))
print("ingresar las notas de los estudiantes")

# definir la funcion informar
def informar(cantidad):
  # crear lista vacia para guardar datos
  list = []
  # ingresar notas
  for i in range(cantidad):
    nota = float(input("ingresar nota: "))
    list.append(nota)
  
  # calcular valores especiales
  min = np.min(list)
  max = np.max(list)
  media = np.median(list)
  desv = np.std(list)
  # crear dos listas
  list_nom = ["minima", "maxima", "media", "desv. estandar"]
  list2 = [min, max, media, desv]
  # construir diccionario a partir de las listas anteriores
  diccionario = dict(zip(list_nom,list2))
  s = pd.Series(diccionario)
  
  return s

informar(cantidad)

ingresar la cantidad de alumnos: 3
ingresar las notas de los estudiantes
ingresar nota: 1
ingresar nota: 2
ingresar nota: 3

minima            1.000000
maxima            3.000000
media             2.000000
desv. estandar    0.816497
dtype: float64

In [17]:
# ejercicio 3

# ingresar cantidad de alumnos
cantidad = int(input("ingresar la cantidad de alumnos: "))
print("ingresar las notas de los estudiantes")

def ordenar(cantidad):
  # idem ejercicio 3 
  list = []
  for i in range(cantidad):
    nota = float(input("ingresar nota: "))
    list.append(nota)

  s = pd.Series(list)
  
  return s.sort_index(ascending=False)

ordenar(cantidad)

ingresar la cantidad de alumnos: 3
ingresar las notas de los estudiantes
ingresar nota: 1
ingresar nota: 2
ingresar nota: 3

2    3.0
1    2.0
0    1.0
dtype: float64

In [20]:
# ejercicio 4

# crear informacion 
mes = ["Enero", "Febrero", "Marzo", "Abril"]
ventas = [30500,35600,28300,33900]
gastos = [22000,23400,18100,20700]

# crear dataframe
df = pd.DataFrame()
df["Mes"] = mes
df["Ventas"] = ventas
df["Gastos"] = gastos
df

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700